/* Error Page Specific Styles */
.error-code {
    background: linear-gradient(180deg, rgba(241, 245, 249, 1) 0%, rgba(241, 245, 249, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

[data-theme="dark"] .error-code {
    background: linear-gradient(180deg, rgba(30, 41, 59, 1) 0%, rgba(30, 41, 59, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
